.hero {
	max-width: 1600px;
	height: 600px;

	padding: 200px 0;
	margin: 0 auto;

	background-color: var(--bg-dark-color);
	background-image: linear-gradient(
		to right, 
		rgba(47, 48, 58, .4), 
		rgba(47, 48, 58, .4)
		), 
		url(../images/photo/bg-Img.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__container {
	text-align: center;
}

.hero__title {
	max-width: 696px;

	margin: 0 auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	
	color: var(--white-color);
}